@import "tailwindcss";

@theme {
  --color-background: #F4F7F9;
  --color-card: #E8EDF0;
  --color-accent: #38B2AC;

  --color-text-primary: #0F1417;
  --color-text-secondary: #6B7280;
}

body {
  @apply bg-background text-text-primary;
  height: auto;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth body {
  overflow: hidden;
}


@layer utilities {
  .font-title {
    font-family: var(--font-trirong), serif;
  }

  .font-body {
    font-family: var(--font-dosis), sans-serif
  }

  .animate-marquee {
    animation: marquee 35s linear infinite;
  }

  .squircle {
    corner-shape: squircle;
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}


.overlay {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: linear-gradient(
          to right,
          rgba(15, 15, 25, 0.72) 0%,
          rgba(15, 15, 25, 0.3) 55%,
          transparent 80%
  ),
  linear-gradient(
          to top,
          rgba(15, 15, 25, 0.5) 0%,
          transparent 40%
  );
}

.btn-primary {
  @apply text-center rounded-xl bg-accent font-light text-lg w-56 py-2 px-4 text-background shadow-md cursor-pointer;
  corner-shape: squircle;
  box-shadow: inset 0 -3px 3px 0 rgba(13, 59, 55, 0.25);
}

.btn-secondary {
  @apply text-center rounded-xl bg-text-primary text-background font-medium text-lg w-56 py-2 px-4 shadow-md cursor-pointer ;
  corner-shape: squircle;
  box-shadow: inset 0 -3px 3px 0px rgba(0, 0, 0, 0.25);
}

.btn-rounded-primary {
  @apply flex items-center justify-center gap-2 rounded-full bg-accent font-light text-lg py-2 px-8 text-background shadow-md  w-32;
  corner-shape: squircle;
  box-shadow: inset 0 -3px 3px 0 rgba(13, 59, 55, 0.25);
}

.btn-rounded-secondary {
  @apply flex items-center justify-center gap-2 rounded-full bg-text-primary font-light text-lg py-2 px-8 text-background shadow-md cursor-pointer w-32;
  corner-shape: squircle;
  box-shadow: inset 0 -3px 3px 0 rgba(13, 59, 55, 0.25);
}